In [13]:
length = 5
for i in range(1 ,length+1):
  # print(i)
  print("*"*i)

*
**
***
****
*****

In [14]:
length = 5
for i in range(length):
  print("*"*(length-i))

*****
****
***
**
*

In [16]:
length = 5
for i in range(1, length+1):
  # print space followed by number of stars
  print(" "*(length-i) + "*"*(2*(i-1)+1))

    *
   ***
  *****
 *******
*********

In [18]:
for i in range(length, 0, -1):
  # print(i)
  print(" "*(length-i) + "*"*(2*(i-1)+1))

*********
 *******
  *****
   ***
    *

In [21]:
for i in range(1, length+1):
  lis = [j for j in range(1, i+1)]
  print("".join(map(str,lis)))

1
12
123
1234
12345

In [23]:
for i in range(length, 0, -1):
  lis = [j for j in range(1, i+1)]
  # print(lis)
  print("".join(map(str,lis)))

12345
1234
123
12
1

In [25]:
for i in range(1, length+1):
  print(str(i)*i)

1
22
333
4444
55555

**Exercise**

In [26]:
# Try this pattern

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *